.form-field {
  margin-bottom: 16px;

  .form-field-required {
    color: #ff4d4f;
  }

  .ant-form-item-label {
    font-weight: 500;
  }

  .ant-form-item-explain-error {
    color: #ff4d4f;
  }
}

